* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.done {
    text-decoration: line-through;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    div.todolist {
        background-color: #eee;
        min-height: 300px;
        min-width: 400px;
        padding: 1em;

        h1 {
            margin: 1em 0;
        }
        
        div.todo {
            
        }
    }
}